@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap");
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
}

:root {
    --primary: tomato;
    --dark: #232323;
    --black: #000000;
    --smoke: whitesmoke;
    --dark-gray: #999;
}

body {
    font-family: "Lato", sans-serif;
    background: var(--dark);
    color: var(--black);
    height: 400vh;
}

.container {
    width: 1152px;
    max-width: 90%;
    margin: 0 auto;
}

.nav-wrapper {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.brand {
    display: flex;
    align-items: center;
}

.brand svg {
    height: 30px;
    margin-right: 10px;
}

.brand svg path {
    fill: var(--black);
}

.nav-wrapper .nav-list {
    list-style: none;
    display: flex;
    align-items: center;
}

.nav-wrapper .nav-list li {
    margin-left: 30px;
    padding: 20px 0;
    position: relative;
}

.nav-wrapper .nav-list li a {
    color: var(--black);
    text-decoration: none;
    letter-spacing: 1px;
    transition: all 0.5s ease-in-out;
}

.nav-wrapper .nav-list li a:hover,
.nav-wrapper .nav-list li.active a {
    color: var(--primary);
}

.btn {
    background: var(--primary);
    color: var(--black);
    outline: none;
    padding: 8px 20px;
    font-size: 14px;
    cursor: pointer;
    letter-spacing: 1px;
    border: 1px solid transparent;
    transition: all 0.5s ease-in-out;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
}

.btn:hover {
    background: transparent;
    border: 1px solid var(--primary);
}

main .header {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 150px;
    text-align: center;
}

main .header h1 {
    font-size: 36px;
    font-weight: 100;
    text-transform: capitalize;
    margin-bottom: 20px;
}

main .header h4 {
    font-size: 18px;
    font-weight: 400;
    color: var(--dark-gray);
    margin-bottom: 20px;
}

nav ul.dropdown-list {
    list-style: none;
    display: block;
    background: var(--smoke);
    padding: 6px 16px;
    position: absolute;
    width: max-content;
    z-index: 9999;
    left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    opacity: 0;
    pointer-events: none;
}

.nav-wrapper ul.dropdown-list li {
    margin-left: 0;
    padding: 5px 0;
}

.nav-wrapper ul.dropdown-list li a {
    color: var(--dark-gray);
}

.nav-wrapper ul.nav-list li:hover .dropdown-list {
    opacity: 1;
    pointer-events: auto;
    animation: moveUp 0.5s ease-in-out forwards;
    -webkit-animation: moveUp 0.5s ease-in-out forwards;
}

@keyframes moveUp {
    0% {
        opacity: 0;
        transform: translateX(-50%), translateY(50px);
        -webkit-transform: translateX(-50%), translateY(50px);
        -moz-transform: translateX(-50%), translateY(50px);
        -ms-transform: translateX(-50%), translateY(50px);
        -o-transform: translateX(-50%), translateY(50px);
    }
    100% {
        opacity: 1;
        transform: translateX(-50%), translateY(20px);
        -webkit-transform: translateX(-50%), translateY(20px);
        -moz-transform: translateX(-50%), translateY(20px);
        -ms-transform: translateX(-50%), translateY(20px);
        -o-transform: translateX(-50%), translateY(20px);
    }
}

.hamburger {
    display: none;
}

.mobile .hamburger {
    display: flex;
    flex-direction: column;
    padding: 20px 0;
    cursor: pointer;
}

.mobile .hamburger span {
    background: var(--black);
    width: 28px;
    height: 2px;
    margin-bottom: 8px;
}

.mobile ul.nav-list {
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    display: flex;
    flex-direction: column;
    padding-top: 80px;
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s ease-in-out;
    background: linear-gradient(45deg, #434343, #000000);
}

.hamburger,
.brand {
    z-index: 9999;
}

.mobile ul.nav-list.open {
    opacity: 1;
    pointer-events: auto;
}

.mobile .hamburger span {
    transform-origin: left;
    transition: all 0.3s ease-in-out;
}

.mobile ul.nav-list li a {
    font-size: 20px;
}

.mobile ul.dropdown-list {
    position: relative;
    background: transparent;
    text-align: center;
    height: 0;
    overflow-y: hidden;
    transition: opacity 1s ease-in-out;
    padding-top: 0;
}

.mobile .nav-wrapper ul li:hover .dropdown-list {
    height: max-content;
    padding-top: 6px;
}

.mobile ul.nav-list li {
    margin-left: 0;
    text-align: center;
}

.mobile .nav-wrapper ul.dropdown-list li a {
    color: var(--dark-gray);
}

.mobile .nav-wrapper ul.dropdown-list li a:hover {
    color: var(--primary);
}


/* card section */

.section-center {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 2rem;
}

.card {
    display: flex !important;
    position: absolute;
    align-items: center;
    justify-content: center;
    margin: 0.5rem 1rem;
    max-width: 600px;
    min-height: 400px;
    background: #fdfbfb !important;
}

.card img {
    width: 100%;
    height: 100%;
}

.card .card-title {
    text-align: center;
    margin: 10px 0 5px 0;
    font-size: 1.5rem;
}

.card h6 {
    text-align: center;
}

.card p {
    padding: 1rem;
    text-align: center;
}


/* header-section style */

input.form-control.search-bar {
    width: 50%;
    background: transparent;
    box-shadow: 3px 5px 9px grey;
    border: none;
}

h1.tagline.h1 {
    text-shadow: 3px 2px 3px grey;
    text-align: center;
}

select.form-control {
    color: grey;
    box-shadow: 2px 5px 7px grey;
}

section.header-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: 100vh;
    width: 100%;
    background-image: url("../images/background1.jpg");
    background-position: bottom;
    background-size: cover;
}

.school_form {
    display: flex;
}

input.subm {
    width: 151px;
    height: 43px;
    border: none;
    background: hotpink;
    font-size: 21px;
    border-radius: 11px;
    color: white;
    font-weight: bold;
    outline: none;
    margin-bottom: 96px;
}

.city,
.ratings,
.area,
.board,
.sort {
    margin: 10px;
    box-shadow: 3px 5px 7px grey;
    border-radius: 10px;
}


/* header styling ends */